@charset "UTF-8";

body {
  background-image: url("kokuban.png");
  background-repeat: no-repeat;
   
   /* 横幅を画面の90%に縮小し、縦幅は比率を保って自動調整 */
   background-size: 90% auto; 
   
   /* 画像を画面の真ん中（上寄り）に配置 */
   background-position: center top; 
  }

body {
      color: #ffffff; /* 白を指定 */
    }



h2{
	background-color: crimson;
	color:aliceblue;
}


/*
	タイトル表示用H2タグのスタイル定義
*/
.titleH2 {
	display: inline-block; /* 文字の幅に合わせたブロックにします */
	margin: 20px auto;     /* 上下に20pxの余白を空け、左右は自動中央揃えにします */
	padding: 0 10px;       /* 文字の左右に少しだけ内側の余白を作ります */
}